Package             Version     Editable project location
------------------- ----------- -------------------------------------------------------------------------------------------
contourpy           1.1.1
cycler              0.12.1
fonttools           4.56.0
importlib_resources 6.4.5
kiwisolver          1.4.7
matplotlib          3.7.5
numpy               1.24.4
packaging           24.2
pillow              10.4.0
pip                 25.0.1
pyeda               0.29.0      /Users/pablogarcialopez/Documents/Dev/Projects/University/Year 5/Math-thesis/external/pyeda
pyparsing           3.1.4
python-dateutil     2.9.0.post0
setuptools          56.0.0
six                 1.17.0
tqdm                4.67.1
zipp                3.20.2
